%container,
.container {

  @include clearfix;

  margin-right: auto;
  margin-left: auto;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  max-width: 72em
}

%container--sm {
  @extend %container;
  max-width: 48em;
}

%row {
  margin: 0 -1em;
  @include clearfix();
}

%col {
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

%col-1 {
  @extend %col;
  width: #{(100% / 3)};
}

%col-3 {
  @extend %col;
  width: 50%;
}

%col-4 {
  @extend %col;
  width: #{(100% / 3) * 2};
}