table {
	width: 100%;
	margin-bottom: $line-height-computed;
	ul {
		margin-bottom: 0;
	}
}

td {
	padding: .5em 1em;
	vertical-align: top;
}

tbody tr:nth-child(odd) td {
	background: $gray-lighter;
}

tfoot td {
	font-size: .8em;
	padding-left: 0;
}