.development {
  @extend %pillar;
  background-image: url('../images/bg-company.jpg');
  background-position: right center;
  color: #fff;

  &__wrapper {
    @extend %container;
  }

  &__text {
    @extend %pillar__text;
  }
}