.intro {
  @extend %content-row;
  @include clearfix();

  &__wrapper {
    @extend %container;
  }

  &__row {
    display: flex;
    margin: 0 $grid-gutter-width * -1;
    align-items: center;
  }

  &__text {
    padding: 0 $grid-gutter-width;
    flex: 0 0 #{(100% / 3)};
  }

  &__image {
    padding: 0 $grid-gutter-width;
    flex: 0 0 #{(100% / 3)};
  }
}

.infographic {
  display: block;
}

