.staff {
  @extend %content-row;
  text-align: center;
  @include clearfix();

  &__wrapper {
    @extend %container--sm;
  }

  &__item {
    float: left;
    width: #{(100% / 3)};
  }

  &__image {
    max-width: 100%;
    display: block;
    margin: 0 auto .5em;
    border-radius: 50%;
  }
}
