.costs {
  @extend %content-row;

  &__wrapper {
    @extend %container;
  }

  h2 {
    text-align: center;
  }

  &__row {
    @extend %row;
   }

  &__col {
    @extend %col;

    @include mq(medium) {
      float: left;
      width: 50%;
    }
  }

  &__anchor {
    @extend %anchor;
  }
}

.col-price {
  width: 5em;
}

.star {
  color: #F77474;
  font-weight: 700;
}