header {
  @extend %container;
  @extend %content-row;
}

.header {
  &__wrapper {
    @extend %container;
  }

  &__row {
    display: flex;
    margin: 0 $grid-gutter-width * -1;
    align-items: center;
  }

  &__text {
    padding: 0 $grid-gutter-width;
    flex: 0 0 #{((100% / 3) * 2)};
  }

  &__image {
    padding: 0 $grid-gutter-width;
    flex: 0 0 #{(100% / 3)};
  }

  &__logo {
    max-width: 15em;
    display: block;
  }

}


.lead {
  font-size: 1.4em;
}

